
<div class="home-container">
    <div class="home-text">
        <span class="introduction">Hello, my name is Kamil.</span>
         <span>I provide 3d print which can simplify your life.</span>
    </div>
    <div class="home-image">
        <div class="img-container">
        </div>
        <img src="../../../../assets/images/quattro-yellow.png">
        <img class="second" src="../../../../assets/images/adapters.png">
        <img class="third" src="../../../../assets/images/adapters-blue.png">

    </div>
</div>