<!-- 
<div class="home-container">
    <p class="home-text" id="text">
        <span>Hello, my name is <span>Kamil</span>.</span>
         <span>I provide <span>3D</span> print which can simplify your life.</span>
         <span>Contact me and print your dreams.
            <icon-button (click)="contactMe()" [icon]="'bi bi-telephone-outbound-fill'"></icon-button>
         </span>
    </p>
    <div class="home-image">
        <div class="img-container">
        </div>
        <img src="../../../../assets/images/quattro-yellow.png">
        <img src="../../../../assets/images/adapters.png">
        <img src="../../../../assets/images/quattro-red.png">
        <img src="../../../../assets/images/adapters-blue.png">
    </div>
</div> -->
