@import '../../../../styles/variables.less';


.home-container {
  max-width: 1280px;
  display: flex;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
    .home-text {
        font-size:@font-size-max;
        color: @font-primary;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 50px;
        text-transform: uppercase;
        text-shadow: 0 0 200px @font-primary;
        transform: scale(0.94);
        animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
        animation: glow 1s ease-in-out infinite alternate;
        padding-bottom: 32px;
        span {
          display: inline-block;
          opacity: 0;
          filter: blur(4px);
        }
        
        span:nth-child(1) {
          animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        
        span:nth-child(2) {
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
        
        span:nth-child(3) {
          animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

    }
    .home-image {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      .img-container {
        border-radius: 50%;
        background-color: @background-secondary;
        width: 500px;
        height: 500px;
        display: flex;
        background: radial-gradient(circle at 200px 200px, @background-secondary, @background-primary);
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 50px 3px @font-teritiary inset;
        img {
          max-width: 200%; 
          height: auto;
        }
    }
    }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
  
}
