@import 'variables.less';

* {
    font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
    margin: 0;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

@font-face {
    font-family: Archive;
    src: url(../assets/fonts/ArchivoBlack.otf) format('truetype');
}

@font-face {
    font-family: Allura;
    src: url(../assets/fonts/Allura-Regular.otf) format('truetype');
}
